{
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "windows"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-unused-vars": [
            1,
            {"vars": "all", "args": "after-used"}
        ]
    },
    "env": {
        "browser": true,
        "amd": true
    },
    "extends": "eslint:recommended"
}